body {
  margin:0px;
  background-color:rgba(254, 254, 254, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:180px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:7px;
  width:961px;
  height:510px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:510px;
}
#u2 {
  position:absolute;
  left:2px;
  top:247px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:415px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:415px;
}
#u4 {
  position:absolute;
  left:2px;
  top:200px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:860px;
  top:630px;
  width:110px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
