body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:29px;
  top:254px;
  width:971px;
  height:342px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:342px;
}
#u1 {
  position:absolute;
  left:2px;
  top:163px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:860px;
  top:500px;
  width:110px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:120px;
  top:448px;
  width:150px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
