body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1025px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:685px;
  width:1025px;
  height:65px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:24px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:25px;
  top:685px;
  width:975px;
  height:65px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:66px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:75px;
  top:713px;
  width:355px;
  height:14px;
  font-size:11px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:-970px;
  width:10px;
  height:1720px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:1721px;
}
#u8 {
  position:absolute;
  left:2px;
  top:852px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:180px;
  width:110px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:11px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:435px;
  top:703px;
  width:130px;
  height:30px;
  font-size:11px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:885px;
  top:693px;
  width:95px;
  height:50px;
  font-size:11px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:51px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:975px;
  top:-970px;
  width:10px;
  height:1720px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:1721px;
}
#u16 {
  position:absolute;
  left:2px;
  top:852px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:20px;
  top:-970px;
  width:10px;
  height:1660px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:1651px;
  width:20px;
  height:14px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1660px;
}
#u18 {
  position:absolute;
  left:995px;
  top:-970px;
  width:10px;
  height:1660px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:1651px;
  width:20px;
  height:14px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1660px;
}
#u20 {
  position:absolute;
  left:0px;
  top:25px;
  width:1025px;
  height:95px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:96px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:286px;
  top:56px;
  width:135px;
  height:34px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:39px;
  top:40px;
  width:211px;
  height:45px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:46px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:847px;
  top:34px;
  width:80px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:930px;
  top:64px;
  width:55px;
  height:20px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:805px;
  top:63px;
  width:120px;
  height:20px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:295px;
  top:65px;
  width:110px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:440px;
  top:65px;
  width:80px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:565px;
  top:65px;
  width:100px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:927px;
  top:33px;
  width:10px;
  height:15px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u38 {
  position:absolute;
  left:937px;
  top:34px;
  width:50px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:308px;
  top:35px;
  width:150px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:295px;
  top:38px;
  width:10px;
  height:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:25px;
  top:0px;
  width:975px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:26px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:400px;
  top:74px;
  width:12px;
  height:7px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:517px;
  top:74px;
  width:12px;
  height:7px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:663px;
  top:74px;
  width:12px;
  height:7px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:45px;
  top:6px;
  width:405px;
  height:14px;
  font-size:11px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:40px;
  top:120px;
  width:105px;
  height:25px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:150px;
  top:120px;
  width:148px;
  height:25px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:303px;
  top:120px;
  width:90px;
  height:25px;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:398px;
  top:120px;
  width:105px;
  height:25px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:508px;
  top:120px;
  width:75px;
  height:25px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:588px;
  top:120px;
  width:140px;
  height:25px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:40px;
  top:145px;
  width:945px;
  height:5px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:6px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-6px;
  width:941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:40px;
  top:150px;
  width:85px;
  height:30px;
  font-size:12px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:125px;
  top:150px;
  width:130px;
  height:30px;
  font-size:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
}
#u73 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:255px;
  top:150px;
  width:165px;
  height:30px;
  font-size:12px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:420px;
  top:150px;
  width:125px;
  height:30px;
  font-size:12px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:120px;
  top:151px;
  width:10px;
  height:28px;
}
#u78_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u78_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:14px;
}
#u78_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u79 {
  position:absolute;
  left:250px;
  top:151px;
  width:10px;
  height:28px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:14px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u80 {
  position:absolute;
  left:415px;
  top:151px;
  width:10px;
  height:28px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:14px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u81 {
  position:absolute;
  left:545px;
  top:150px;
  width:115px;
  height:30px;
  font-size:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:40px;
  top:150px;
  width:945px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:31px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:40px;
  top:120px;
  width:105px;
  height:25px;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:40px;
  top:150px;
  width:85px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:260px;
  top:360px;
  width:85px;
  height:25px;
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:350px;
  top:360px;
  width:85px;
  height:25px;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u92 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:440px;
  top:360px;
  width:55px;
  height:25px;
  font-size:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:50px;
  top:360px;
  width:105px;
  height:25px;
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u96 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:50px;
  top:410px;
  width:410px;
  height:40px;
  font-family:'Calibri Italic', 'Calibri';
  font-weight:400;
  font-style:italic;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:41px;
}
#u98 {
  position:absolute;
  left:2px;
  top:13px;
  width:406px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:50px;
  top:480px;
  width:924px;
  height:145px;
  font-family:'Calibri Italic', 'Calibri';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  text-decoration:underline;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:146px;
}
#u100 {
  position:absolute;
  left:2px;
  top:66px;
  width:920px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:50px;
  top:456px;
  width:290px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:50px;
  top:200px;
  width:925px;
  height:50px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:51px;
}
#u104 {
  position:absolute;
  left:2px;
  top:17px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:105px;
  top:218px;
  width:833px;
  height:15px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:60px;
  top:210px;
  width:30px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:440px;
  top:360px;
  width:85px;
  height:25px;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u110 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:530px;
  top:360px;
  width:55px;
  height:25px;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u112 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:50px;
  top:385px;
  width:925px;
  height:5px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:6px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-6px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:160px;
  top:360px;
  width:95px;
  height:25px;
  font-size:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
}
#u116 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:670px;
  top:410px;
  width:305px;
  height:40px;
  font-size:13px;
  text-align:right;
  line-height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:41px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:50px;
  top:270px;
  width:430px;
  height:24px;
  line-height:24px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:25px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:48px;
  top:302px;
  width:107px;
  height:29px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:163px;
  top:302px;
  width:107px;
  height:29px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:280px;
  top:302px;
  width:107px;
  height:29px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:720px;
  top:292px;
  width:240px;
  height:50px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:51px;
}
#u129 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
